h4{
    text-align: center;
    margin-left: 500px;
    width: 500px;
}

h6{
    text-align: center;
   margin-left: 500px;
    width: 500px;
}


h2{
    text-align: center;
    margin-left: 500px;
    width: 500px;
} 

p{
    text-align: center;
    margin-left: 350px;
    width: 800px;
} 

.image{
    border: 3px solid #000000
}

.img{
    border: 2px solid #a4a4a4
    }

.flex{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.desc{
    text-align: center;
    margin-left: -20px;
}

body{
    background-color: #E6E6E6;
}

.back-to-top{
    
}


