mbr-text mb-0 mbr-fonts-style display-7 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    }

footer{
    background-color: #a4a4a4;
    height: 50px;
    position: relative;
}