p.footertext {
   background-color: #a4a4a4;
   height: 25px;
   margin-top: 10px;
    }

    footer {
        position: flex;
        padding: 10px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #a4a4a4;
      }