li {
	display: inline-block;	
	list-style-type: none;
	width: 45%;
}

img {
	padding: 0;
	margin: 0;	
	width: 100%;  /* Bild passt sich an verfügbaren Raum im li an */
}

button {
  padding: 0.1em;
}

     /* Large screens */
@media all and (min-width: 35em) {
	li {
		width: 10em;
	}

	img {
		padding: 0;
		margin: 0;	
		width: 100%;  /* Bild passt sich an verfügbaren Raum im li an */
	}

	button {
		padding: 0.1em;
	}

	button:focus, 
	button:hover {
		background: #09c;
	}
}
 